<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <div class="wrapper">
      <a href="/"><h3>Coffee</h3></a>
      <a href="/orders">Orders</a>

      <%= yield %>
    </div>
  </body>
</html>
